@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

menu {
    width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.menu-logo img {
    width: 50%;
}

.menu-links ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.menu-links ul a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: all .2s ease-in;
}

.menu-links ul a:hover {
    color: orangered;
}

